body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0; /* Optional: Adds a light gray background */
}

header {
    background-color: #4CAF50;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2em;
    text-align: center;
}

h2 {
    margin-bottom: 1em;
}

.credentials {
    background: rgba(255, 255, 255, 0.8);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 2em auto;
}

form label {
    display: block;
    margin: 0.5em 0 0.2em;
}

form input, form select {
    width: 80%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 0.5em 2em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
body{
    background-image:url('bg.jpg');
}
h2,p{
    color: white;
}